.footer {
  background-color: black;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  color: #d3d3d3;
  font-family: "Press Start 2P", sans-serif;
}

.footer-section {
  margin-bottom: 1rem;
  text-align: center;
}

.hackathon-info,
.contact-info,
.copyright {
  font-size: 0.75rem;
  line-height: 1.5;
}

.hackathon-info a {
  color: #d500ed;
  text-decoration: underline;
  cursor: pointer;
}

.contact-info a {
  color: #00d4ff;
  text-decoration: underline;
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.copyright-icon {
  width: 0.75rem;
  height: auto;
}

.developed-by {
  font-size: 0.75rem;
  color: #708090;
}

.developer-link {
  cursor: pointer;
  color: #d500ed;
  text-decoration: underline;
}

.privacy-policy-link {
  font-size: 0.75rem;
  color: #d500ed;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin-top: 0.5rem;
}

@media screen and (min-width: 640px) {
  .footer {
    flex-direction: row;
    padding: 2rem;
  }

  .footer-section {
    flex: 1;
    margin-bottom: 0;
  }

  .hackathon-info,
  .contact-info,
  .copyright {
    font-size: 0.875rem;
  }

  .footer-section:first-child {
    text-align: left;
  }

  .footer-section:last-child {
    text-align: right;
  }
}

